@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="Simple Blog" content="width=device-width" />
    <title>@ViewBag.Title - Simple Blog</title>
</head>
<body>
    <header>
        <h1><a href="@Url.RouteUrl("Home")"> Simple Blog </a></h1>
        <a href="@Url.RouteUrl("Login")"> Login </a>
    </header>
    @RenderBody()
    <footer> &copy; @DateTime.UtcNow.Year - Me </footer>
    @RenderSection("Scripts",false)
</body>

</html>
